* {
	margin: 9;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	height: 100vh;
}

.sidebar {
	width: 250px;
	background-color: #2c3e50;
	color: white;
	padding: 20px;
}

.sidebar ul {
	list-style: none;
	margin-top: 20px;
}

.sidebar li {
	margin: 10px 0;
}

.sidebar a {
	color: white;
	text-decoration: none;
}
